
<h1 style="text-align:center">
    Rana Ebrahim
</h1>
<br />
<hr />
<p>
    I am interested in the field of programming, particularly in<br />
    developing applications using .NET. I am always seeking to gain<br />
    more experience through training and continuous learning to
    develop<br /> my skills in this field.
</p>
<br />

<h2>Education</h2>
<hr />
<p>
    Tanta University September 2020 – July 2025
    <br />
    Bachelor of Engineering in Computer Engineering Tanta, Gharbia
</p>

<h2>Relevant Coursework</h2>
<hr />
<ul>
    <li> Data Structure</li>
    <li>Software Engineering</li>
    <li>Algorithms Analysis</li>
    <li>Database Management</li>
    <li>
        Artificial Intelligence

    </li>
    <li> Graphics</li>
    <li> Web Development</li>
    <li>Computer Architecture</li>
 
</ul>
