<h1 style="text-align:center">Projects</h1>
<hr />
<p>
    <h3>Angular Application - ITI Training</h3>
    <h5>Technologies Used :</h5> Angular, TypeScript, HTML, CSS<br />
    <h5>Description :</h5>Developed a web application as part of the ITI training program. The project includes a SignIn and SignOut system<br />
    using Angular for front-end development. Implemented a main page where users can toggle the visibility of an image using<br />
    a button. Utilized TypeScript for managing application logic and interactions, and employed HTML and CSS for designing<br />
    the user interface.<br />
    Achievements: Successfully integrated routing and state management, creating a smooth user experience and enabling<br />
    effective session handling for login and logout functionalities.

   <hr />
    <h3>Student Affairs System</h3>
    <h5>Technologies Used :</h5> C#, Blazor, HTML, CSS, JavaScript<br />
    <h5> Description :</h5>Designed and developed a comprehensive Student Affairs management system for<br />
    InnoSummer company.Utilized C# and Blazor for building interactive and dynamic web<br />
    applications.Integrated front-end technologies including HTML, CSS, and JavaScript to enhance user<br />
    experience and functionality.Implemented features for managing student information, scheduling,<br />
    and communication, improving efficiency in student affairs operations.<br />
    Achievements:Improved system efficiency by 20% through optimized database querie
</p>