<h1 style="text-align:center">Technical Skills</h1>
<hr />
<p>Languages: C#, Database(SQL), Html, CSS, Bootstrap ,JavaScript</p>
<br />
<p>Developer Tools: Visual Studio, VS Code, SQL Server Management Studio</p>
<br />
<p>Soft Skills: Communication, Problem-Solving, Time Management, Leadership, Adaptability</p>
<h2 style="text-align:center">Work History</h2>
<hr />
<p>
    Intern, Information Technology Institute (ITI) - Backend (Python) 15 July 2023 – 1 September 2023  <br />
    Hybrid Training 90% of the program involved remote work, with 10% being in-office sessions.  <br />
    Benefited significantly from practical coding exercises and real-world project simulations.
    <br /><br />
    Intern, InnoSummer Company - Backend (.NET) 23 August 2023 – 29 October 2023 | Hybrid Training  <br />
    - 70% of the program involved remote work, with 30% being in-office sessions.Applied theoretical  <br />
    knowledge in developing a Student Affairs system, enhancing my skills in .NET.
    <br />
    <br />
    Intern, Digital Egypt Pioneers Initiative (ITC) - Backend (.NET) April 2024 – October 2024 | Hybrid  <br />
    Training , 70% of the program involved remote work, with 30% being in-office sessions.  <br />
    - Enhanced back-end system performance, contributing to project success.
    <br />
    <br />
    Intern, Information Technology Institute (Angular Framework) 6 August 2024 – September 2024 |  <br />
    Hybrid Training ,80% of the program involved remote work, with 20% being in-office sessions.  <br />
    trengthened my front-end development skills by building interactive applications
</p>
